body{
    font-size: 0.24rem;
}
a{
    color: #bfc0c1;
}
/*头部*/
.gj_top{
    position: relative;
    font-size: 0.24rem;
}
.gj_top .topbg{
    width:100%;
    height: 3.26rem;
    background: url("../img/gj_topbg_03.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 0.22rem;
    padding-top: 0.64rem;
    box-sizing: border-box;
    color: #fff;
    font-weight:800;
    line-height:0.35rem;
}
.gj_top .topbg .dingwei{
    width:2.8rem;
    height: 0.63rem;
    float: left;
}
.gj_top .topbg .dingwei img{
    display: block;
    float: left;
}
.gj_top .topbg .dingwei span{
    display: block;
}
.gj_top .topbg .message{
    width:0.64rem;
    height: 0.64rem;
    float: right;
    background-image: url("../img/gj_message_21.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gj_top .myindex{
    width:7rem;
    height: 2.5rem;
    background: linear-gradient(to right,#fd8132, #fd5c34,#fe3374);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top:1.53rem;
    border-radius: 0.1rem;
}
.gj_top .myindex .myindexbg{
    width:100%;
    height: 2.4rem;
    position: absolute;
    ttop: -0.08rem;
    left:0;
    background: #fff;
    border-radius: 0.1rem;
}
.gj_top .login_img{
    width:1.15rem;
    height: 1.15rem;
    border:1px solid #e6e6e6;
    border-radius: 1.15rem;
    margin-top: 0.11rem;
    margin-left: 0.16rem;
    position: relative;
    float: left;
}
.gj_top .login_img1{
    width:0.96rem;
    height: 0.96rem;
    border-radius: 0.96rem;
    border:2px solid #dddddd;
    margin-top: 0.08rem;
    margin-left: 0.08rem;
    background: #f6f6f6;
}
.gj_top .login_img2{
    width:0.75rem;
    height: 0.75rem;
    margin-top: 0.08rem;
    margin-left: 0.08rem;
    border-radius: 0.75rem;
    background-image: url("../img/gj_touxiang_10.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border:3px solid #fff;
}
.gj_top .login_img1 .dot1{
    width:0.04rem;
    height: 0.04rem;
    border-radius: 0.04rem;
    background: red;
    position: absolute;
    left:0.25rem;
    top:0.16rem;
}
.gj_top .login_img1 .dot2{
    width:0.04rem;
    height: 0.04rem;
    border-radius: 0.04rem;
    background: red;
    position: absolute;
    right:0.25rem;
    bottom:0.16rem;
}
.gj_top .indextop{
    width:100%;
    overflow: hidden;
}
.gj_top .login_text{
    width:5.47rem;
    height: 1.02rem;
    float:right;
    padding-top: 0.37rem;
    font-size: 0.24rem;
    color: #5b4d4e;
    font-weight:900;
}
.gj_top .login_text span{
    display: block;
    width:1.7rem;
    height: 0.37rem;
    border-bottom:0.02rem dotted #e8e8e8;
}
.gj_top .login_text .weedend{
    margin-top: 0.1rem;
    color: #c1c1c1;
}
.gj_top .indexbottom{
    width:100%;
    height:1.01rem;
    background: linear-gradient(to right,#fbfbfb,#fcfcfc);
    padding: 0.26rem 0.3rem;
    box-sizing: border-box;
    font-size: 0.24rem;
    font-weight: 700;
    text-align: center;
}
.gj_top .indexbottom .shunlu{
    width:1.75rem;
    height: 0.58rem;
    border-radius: 0.5rem;
    background: linear-gradient(to right,#ff346d,#fd4d3d,#fd8332);
    border: 0.02rem solid #fff;
    box-shadow: 0.02rem 0.02rem 0.02rem #f2f2f2;
    float: left;
    color: #fff;
    line-height: 0.58rem;
    box-sizing: border-box;
    padding:0 0.05rem;
}
.gj_top .indexbottom .shunlu img{
    display: block;
    float: left;
    margin-left: 0.1rem;
    margin-top:0.1rem;
}
.gj_top .indexbottom .shunlu a{
    display: block;
    float: left;
    margin-left: -0.2rem;
    color: #fff;
}
.gj_top .indexbottom .fujin{
    width:4.41rem;
    height: 0.55rem;
    background: #fff;
    border-radius: 0.5rem;
    float:right;
    color: #a7a4a4;
    line-height: 0.55rem;
    padding: 0 0.3rem;
    box-sizing: border-box;
    box-shadow: 0.02rem 0.02rem 0.02rem #f2f2f2;
}
.fujin img{
    display: block;
    float: left;
    margin-top:0.13rem;
}
.fujin img:nth-of-type(2){
    float: right;
}
.fujin a{
    float: left;
}


/*主体*/
.gj_main{
    width:100%;
    overflow: hidden;
    background: #eeeeee;
}
.gj_main .floor1{
    width: 7rem;
    height: 3.6rem;
    background: #fff;
    margin: 0 auto;
    /*margin-top: 1.62rem;*/
    border-radius: 0.1rem;
    padding: 0 0.26rem;
    box-sizing: border-box;
}
.gj_main .floor1_head{
    width: 6.5rem;
    height: 0.55rem;
    border-radius: 0.1rem;
    background: #e7262f;
    margin: 0 auto;
    margin-top: 1.62rem;

}
.floor1_head ul li{
    width: 2.1rem;
    height: 0.54rem;
    padding: 0.17rem 0.47rem;
    box-sizing: border-box;
    float: left;
    color: #f5bdbe;
    font-weight: 800;
}
.floor1_head ul li .flag{
    float: left;
}
.floor1_head ul li .flag img{
    display: block;
    margin-top: 0.07rem;
}
.floor1_head ul li span{
    float: left;
    margin-left: 0.1rem;
}
.gj_main .floor1_text{
    overflow: hidden;
}
.gj_main .floor1_text ul li{
    width:100%;
    height: 0.87rem;
    border-bottom:1px solid #f3f3f3;
    line-height: 0.87rem;
}
.gj_main .floor1_text ul li:nth-child(1){
    color: #8f8e8e;
}
.gj_main .floor1_text ul li:nth-child(4){
    border:none;
}
.gj_main .floor1_text ul li:nth-child(3) .suishi{
    width:1.07rem;
    height:0.53rem;
    border-radius: 0.5rem;
    border:0.02rem solid #d5d5d5;
    float: right;
    text-align: center;
    line-height: 0.53rem;
    background: #fbfbfb;
    color: #8f8e8e;
    font-weight: 800;
    margin-top: 0.16rem;
    position: relative;
}
.gj_main .floor1_text ul li:nth-child(3) .suishi .dian_left{
    width: 0.06rem;
    height: 0.06rem;
    background: #8f8e8e;
    border: 0.03rem solid #ccc;
    border-radius: 50%;
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
    left: -0.03rem;

}
.gj_main .floor1_text ul li:nth-child(3) .suishi .dian_right{
    width: 0.06rem;
    height: 0.06rem;
    background: #8f8e8e;
    border: 0.03rem solid #ccc;
    border-radius: 50%;
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
    right: -0.03rem;
}
.gj_main .floor1_text ul li span,.floor1_text ul li .tit{
    float: left;
    margin-right: 0.16rem;
    color: #c9c9c9;
    font-weight:800;
}
.gj_main .floor1_text .getLocation{
    position: relative;
    width:2.61rem;
    height: 0.55rem;
    float: left;
    margin-top: 0.15rem;
}
.gj_main .floor1_text ul li .weizhi{
    width:2.61rem;
    height: 0.55rem;
    background: #515c67;
    border-radius: 0.5rem;
    float: left;
    /*margin-top: 0.15rem;*/
    text-align: center;
    line-height: 0.52rem;
}
::-webkit-input-placeholder {
    color: #c9c9c9;
    font-size: 0.24rem;
    line-height: 0.55rem;
}

.gj_main .floor1_text ul li .getLocation .update{
    width: 0.06rem;
    height: 0.06rem;
    border-radius:50%;
    background:#ff3939;
    border: 0.01rem solid #454e57;
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
    left: -0.02rem;
}

.gj_main .floor1_text ul li .getLocation .close{
    width: 0.32rem;
    height: 0.32rem;
    border-radius: 50%;
    border:2px solid #57636f;
    text-align: center;
    line-height: 0.3rem;
    color:#c2c3c3;
    float: left;
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto;
    right:0.12rem;
    z-index:2;


}
.gj_main .queren{
    display: block;
    width: 5.7rem;
    height: 0.74rem;
    border-radius: 0.5rem;
    background: linear-gradient(to right,#ff346d,#fd4d3d,#fd8332);
    margin: 0 auto;
    font-size: 0.24rem;
    color: #fff;
    text-align: center;
    line-height: 0.74rem;
    margin-top:0.24rem;
    margin-bottom:0.24rem;
    border:3px solid #fff;
    box-shadow:0.02rem 0.02rem 0.02rem #f2f2f2 ;
}
.gj_main .floor2{
    width:7rem;
    height: 2.25rem;
    border-radius: 0.1rem;
    background: #fff;
    margin: 0 auto;
}



.gj_foot{
    width:100%;
    height: 1.07rem;
    background: #333c41;
    margin-top: 0.32rem;
    font-size: 0.20rem;
    color: #bfc0c1;
}
.gj_foot .foot_box {
    width: 25%;
    height: 100%;
    text-align: center;
    padding: 0.14rem 0;
    float: left;
}
.gj_foot .foot_box a{
    display: block;
    margin-top:0.05rem;
}
.gj_main .floor2_top{
    padding-top: 0.25rem;
    padding-left: 0.28rem;
    box-sizing: border-box;
    overflow: hidden;
}
.gj_main .floor2_top_left{
    float: left;
}
.gj_main .floor2_top_left img{
    display: block;
    margin-top:0.07rem;
}
.gj_main .floor2_top_middle{
    float: left;
    font-size: 0.24rem;
    margin-left: 0.2rem;
}
.gj_main .floor2_top_middle span {
    display: block;
    font-weight: 800;
    line-height:0.3rem;
}
.gj_main .floor2_top_middle span:nth-of-type(2){
    color: #b6b6b6;
}
.gj_main .floor2_top_right{
    float: right;
    margin-top: 0;
}
.gj_main .floor2_top_right img{
    display: block;
}
.gj_main .floor2_top_right .tuijian img{
    margin-top: -0.27rem;

}
.gj_main .floor2_top_right .tuijain_more img{
    margin-top: 0.25rem;
}
.gj_main .floor2_bottom{
    width:100%;
    padding: 0.25rem 0.28rem;
    box-sizing: border-box;
}
.gj_main .floor2_bottom_left .location{
    overflow: hidden;
}
.gj_main .floor2_bottom_left{
    float: left;
}
.gj_main .floor2_bottom_left .location .tit{
    width: 0.18rem;
    height: 0.11rem;
    background: #1dda76;
    border:2px solid #d6f8e6;
    border-radius: 0.5rem;
    float:left;
    margin-top: 0.05rem;
}
.gj_main .floor2_bottom_left .location p,.location span,.location time{
    display: block;
    float: left;
    margin-right:0.2rem;
    margin-left:0.1rem;
    color: #8f8e8e;
}
.gj_main .floor2_bottom_left .location time{
    margin-right: 0;
    margin-left: 0;
}

.gj_main .floor2_bottom_left .mudilocation{
    /*width: 3rem;*/
    padding-top: 0.1rem;
    overflow: hidden;
    box-sizing: border-box;
}
.gj_main .floor2_bottom_left .mudilocation .mudi{
    width: 0.18rem;
    height: 0.11rem;
    background: #fc323a;
    border:2px solid #fed8da;
    border-radius: 0.5rem;
    float: left;
}
.gj_main .floor2_bottom_left .mudilocation span{
    float: left;
    margin-left:0.1rem;
    color: #8f8e8e;
}
.gj_main .floor2_bottom_right{
    float: right;
    overflow: hidden;
}
.gj_main .floor2_bottom_right span{
    color: #fc2831;
    font-weight: 900;
    float: left;
    font-size: 0.3rem;

}
.gj_main .floor2_bottom_right .zuo{
    width: 0.42rem;
    height: 0.26rem;
    border-radius: 0.5rem;
    background: #fc2831;
    color: #fff;
    float: left;
    font-size: 0.2rem;
    text-align: center;
    line-height: 0.26rem;
    margin-left: 0.06rem;
}
.gj_main .floor2_bottom_right .yizi{
    margin-top: 0.19rem;
    width: 100%;
}
.gj_main .floor2_bottom_right .yizi img{
    display: block;
    float: left;
    margin-right:0.1rem;
}
.gj_main .floor2_bottom_right .formation{
    width: 100%;
    height: 0.25rem;
    line-height: 0.25rem;
}