
/*头部*/
.gj_top{
    position: relative;
    font-size: 0.24rem;
}
.gj_top .topbg{
    width:100%;
    height: 3.26rem;
    background: url("../img/gj_topbg_03.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 0.22rem;
    padding-top: 0.64rem;
    box-sizing: border-box;
    color: #fff;
    font-weight:800;
    line-height:0.35rem;
}
.gj_top .topbg .dingwei{
    width:2.8rem;
    height: 0.63rem;
    float: left;
}
.gj_top .topbg .dingwei img{
    display: block;
    float: left;
}
.gj_top .topbg .dingwei span{
    display: block;
}
.gj_top .topbg .message{
    width:0.64rem;
    height: 0.64rem;
    float: right;
    background-image: url("../img/gj_message_21.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gj_top .myindex{
    width:7rem;
    height: 2.5rem;
    background: linear-gradient(to right,#fd8132, #fd5c34,#fe3374);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top:1.53rem;
    border-radius: 0.1rem;
}
.gj_top .myindex .myindexbg{
    width:100%;
    height: 2.4rem;
    position: absolute;
    ttop: -0.08rem;
    left:0;
    background: #fff;
    border-radius: 0.1rem;
}
.gj_top .login_img{
    width:1.15rem;
    height: 1.15rem;
    border:1px solid #e6e6e6;
    border-radius: 1.15rem;
    margin-top: 0.11rem;
    margin-left: 0.16rem;
    position: relative;
    float: left;
}
.gj_top .login_img1{
    width:0.96rem;
    height: 0.96rem;
    border-radius: 0.96rem;
    border:2px solid #dddddd;
    margin-top: 0.08rem;
    margin-left: 0.08rem;
    background: #f6f6f6;
}
.gj_top .login_img2{
    width:0.75rem;
    height: 0.75rem;
    margin-top: 0.08rem;
    margin-left: 0.08rem;
    border-radius: 0.75rem;
    background-image: url("../img/gj_touxiang_10.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border:3px solid #fff;
}
.gj_top .login_img1 .dot1{
    width:0.04rem;
    height: 0.04rem;
    border-radius: 0.04rem;
    background: red;
    position: absolute;
    left:0.25rem;
    top:0.16rem;
}
.gj_top .login_img1 .dot2{
    width:0.04rem;
    height: 0.04rem;
    border-radius: 0.04rem;
    background: red;
    position: absolute;
    right:0.25rem;
    bottom:0.16rem;
}
.gj_top .indextop{
    width:100%;
    overflow: hidden;
}
.gj_top .login_text{
    width:5.47rem;
    height: 1.02rem;
    float:right;
    padding-top: 0.37rem;
    font-size: 0.24rem;
    color: #5b4d4e;
    font-weight:900;
}
.gj_top .login_text span{
    display: block;
    width:1.7rem;
    height: 0.37rem;
    border-bottom:0.02rem dotted #e8e8e8;
}
.gj_top .login_text .weedend{
    margin-top: 0.1rem;
    color: #c1c1c1;
}
.gj_top .indexbottom{
    width:100%;
    height:1.01rem;
    background: linear-gradient(to right,#fbfbfb,#fcfcfc);
    padding: 0.26rem 0.3rem;
    box-sizing: border-box;
    font-size: 0.24rem;
    font-weight: 700;
    text-align: center;
}
.gj_top .indexbottom .shunlu{
    width:1.75rem;
    height: 0.58rem;
    border-radius: 0.5rem;
    background: linear-gradient(to right,#ff346d,#fd4d3d,#fd8332);
    border: 0.02rem solid #fff;
    box-shadow: 0.02rem 0.02rem 0.02rem #f2f2f2;
    float: left;
    color: #fff;
    line-height: 0.58rem;
    box-sizing: border-box;
    padding:0 0.05rem;
}
.gj_top .indexbottom .shunlu img{
    display: block;
    float: left;
    margin-left: 0.1rem;
    margin-top:0.1rem;
}
.gj_top .indexbottom .shunlu b{
    display: block;
    float: left;
    margin-left: -0.2rem;
}
.gj_top .indexbottom .fujin{
    width:4.41rem;
    height: 0.55rem;
    background: #fff;
    border-radius: 0.5rem;
    float:right;
    color: #a7a4a4;
    line-height: 0.55rem;
    padding: 0 0.3rem;
    box-sizing: border-box;
    box-shadow: 0.02rem 0.02rem 0.02rem #f2f2f2;
}
.fujin img{
    display: block;
    float: left;
    margin-top:0.13rem;
}
.fujin img:nth-of-type(2){
    float: right;
}
.fujin b{
    float: left;
}


/*主体*/
.gj_main{
    width:100%;
    overflow: hidden;
    background: #eeeeee;
}
.gj_main .floor1{
    width: 7rem;
    height: 5.22rem;
    background: #fff;
    margin: 0 auto;
    margin-top: 1.62rem;
    border-radius: 0.1rem;
}
.gj_main .queren{
    width: 5.7rem;
    height: 0.74rem;
    border-radius: 0.5rem;
    background: linear-gradient(to right,#ff346d,#fd4d3d,#fd8332);
    margin: 0 auto;
    font-size: 0.24rem;
    color: #fff;
    text-align: center;
    line-height: 0.74rem;
    margin-top:0.24rem;
    margin-bottom:0.24rem;
    border:3px solid #fff;
    box-shadow:0.02rem 0.02rem 0.02rem #f2f2f2 ;
}
.gj_main .floor2{
    width:7rem;
    height: 2.25rem;
    border-radius: 0.1rem;
    background: #fff;
    margin: 0 auto;
}



.gj_foot{
    width:100%;
    height: 1.07rem;
    background: #333c41;
    margin-top: 0.32rem;
    font-size: 0.20rem;
    color: #bfc0c1;
}
.gj_foot .foot_box {
    width: 25%;
    height: 100%;
    text-align: center;
    padding: 0.14rem 0;
    float: left;
}
.gj_foot .foot_box b{
    display: block;
    margin-top:0.05rem;
}
.gj_main .floor2_top{
    padding: 0.25rem 0;
    padding-left: 0.28rem;
    box-sizing: border-box;
    overflow: hidden;
}
.gj_main .floor2_top_left{
    float: left;
}
.gj_main .floor2_top_left img{
    display: block;
    margin-top:0.07rem;
}
.gj_main .floor2_top_middle{
    float: left;
    font-size: 0.24rem;
    margin-left: 0.2rem;
}
.gj_main .floor2_top_middle span{
    display: block;
    font-weight: 800;
    line-height:0.3rem;
}
.gj_main .floor2_top_middle span:nth-of-type(2){
    color: #b6b6b6;
}
.gj_main .floor2_top_right{
    float: right;
    margin-top: 0;
}
.gj_main .floor2_top_right img{
    display: block;
}
.gj_main .floor2_top_right img:nth-of-type(1){
    margin-top: -0.27rem;
    margin-bottom: 0.45rem;
}
.floor2_bottom{
    width:100%;
}

