body{
	background-color: #f7f7f7;
}
#food{
	width:100%;
	height: auto;
	font-family: "微软雅黑";
}
#food .head{
	width:100%;
	height: 1rem;
	background-color: #fd313a;
	text-align: center;
	line-height: 1rem;
	color: #fff;
	position: relative;
}
#food .head h3{
	margin: 0 auto;
	width: 2rem;
	font-size: 0.4rem;
	font-weight: normal;
}
#food .head .share{
	width: 0.45rem;
	height: 0.45rem;
	position: absolute;
	right: 0.2rem;
	top: 0.25rem;
}
#food .head .share img{
	display: block;
}
#food .mainbg{
	padding: 0.34rem 0;
	width: 100%;
	height: auto;
	background-color: #f7f7f7;
	position: relative;
}
#food .mainbg:after{
	content: "";
	display: block;
	clear: both;
}
#food .main{
	position: relative;
	width: 7rem;
	height: auto;
	margin:0 auto;
	background-color: #fff;
	border-radius: 0.1rem;
	box-shadow: 0.01rem 0.01rem 0.32rem #d7d7d7;
}
#food .main>.scenery{
	width: 100%;
	height: auto;
	margin:0 auto;
}
#food .main>.scenery>li{
	width: 100%;
	height: 3.74rem;
	padding: 0.2rem 0.3rem;
	
}
#food .main>.scenery>span{
	display: block;
	width: 100%;
	height: 0.13rem;
	background-color:#f7f7f7; 
}
#food .main>.scenery>li>p.title{
	font-size: 0.36rem;
	line-height: 0.5rem;
	color: #636363;
	letter-spacing: 0.03rem;
}
#food .main>.scenery>li>p.title>span{
	font-size: 0.34rem;
	font-weight: bold;
}
#food .main>.scenery>li>ul.show{
	height: 1.9rem;
	padding: 0.2rem 0;
}
#food .main>.scenery>li>ul.show>li{
	width: 2.08rem;
	height: 1.41rem;
	float: left;
	margin-right: 0.08rem;
	border-radius: 0.1rem;
	background-color: #ccc;
}
#food .main>.scenery>li>ul.show>li:last-child{
	margin-right: 0;
}
#food .main>.scenery>li>div{
	height: 0.3rem;
	width: 100%;
}
#food .main>.scenery>li>div>a.next{
	display: block;
	float: left;
	color: #bababa;
	font-size: 0.2rem;
}
#food .main>.scenery>li>div>i{
	font-style:normal;
	display: block;
	float: left;
	margin-left: 0.25rem;
	font-size: 0.2rem;
	color: #fc7a2c;
}
#food .main>.scenery>li>div>i>img{
	margin-right: 0.05rem;
}
