html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	background-image: url(../img/wyx_1.jpg);
	/*font-size: 100px;*/
	font-size: 16px;
	font-family: 微软雅黑;
}
.box{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: relative;
}
.center{
	width: 5.4rem;
	height: 3.11rem;
	background-color: #fff;
	border-radius: 0.2rem;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	overflow: hidden;
}
.top1{
	width: 100%;
	height: 0.98rem;
	background-image: url(../img/wyx_2.jpg);
	border-bottom: 0.02rem solid #e5e5e5;
	position: relative;
}
.top2{
	width: 100%;
	height: 1.09rem;
}
.top3{
	width: 100%;
	height: 1.04rem;
	background: linear-gradient(to right, #ff2e50,#fd313a,#ff6b3e,#fd8332);	
}
.fenxiang{
	width: 0.68rem;
	height: 0.68rem;
	border: 0.02rem solid #fff;
	background-color: rgba(245, 5, 16, 0.75);
	background-image: url(../img/wyx_1.png);
	background-position: center;
	border-radius: 50%;
	box-shadow: 0px 0px 0.08rem rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.top2 p{
	margin: 0;
    text-align: center;
    color: #fd313a;
    font-size: 0.26rem;
}
.top2 p:first-child{
	padding-top: 0.3rem;
}
.top3-1{
	width: 4.25rem;
    height: 100%;
    float: left;
    display: flex;
    padding: 0 0.61rem;
    box-sizing: border-box;
}
.qq,.weixin,.weibo{
	width: 0.73rem;
	height: 0.73rem;
	background-color: #e7262f;
	border-radius: 50%;
	border: 0.02rem solid #fd8034;
	float: left;
	/*flex-grow: 1;*/
	margin: 0.14rem;
}
.weixin{
	background-image: url(../img/wyx_3.png);
	background-position: center;
}
.weibo{
	background-image: url(../img/wyx_4.png);
	background-position: center;
}
.top3-2{
	width: 0.72rem;
	height: 0.38rem;
	border: 0.02rem solid #fff;
	float: left;
	margin-top: 0.3rem;
	border-radius: 0.20rem;
	background-image: url(../img/wyx_5.png);
	background-position: center;
}